.cart {
    padding-top: 9rem;

    &__list-items {
        margin-bottom: 40px;
    }
    &__item {
        border-bottom: 1px solid  $light-grey;
        padding: 30px 0;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 120px 350px auto auto 50px;
        grid-template-areas: "thumbnail name quantity subtotal remove";
        align-items: center;
    }

    &__product {
        &-thumbnail {
            grid-area: thumbnail;
            > a {
                display: block;
            }
            img {
                max-width: 100%;
                max-height: 150px;
                height: auto;
            }
        }

        &-name {
            grid-area: name;
        }

        &-quantity {
            grid-area: quantity;
            text-align: center;
        }

        &-subtotal {
            grid-area: subtotal;
        }

        &-remove {
            grid-area: remove;
        }
    }

    &__coupon, &__collaterals {
        padding: 15px 20px;
    }

    &__collaterals {
        background: $primary-color;
        color: $white-color;
    }

    &__coupon {
        background: $light-color;
        margin-bottom: 30px;
        .coupon {
            padding: 0;
        }
    }

    @include media-breakpoint-up(md) {

        &__container {
            display: grid;
            grid-template-columns: auto 320px;
            grid-gap: 50px;
        }

        &__actions {
            text-align: right;
        }

        &__collaterals {
            margin-bottom: 30px;
        }

        &__product {
            &-subtotal {
                text-align: right;
            }
        }
    }

    @include media-breakpoint-down(md) {

        &__item {
            position: relative;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas:
                    "thumbnail name name"
                    "thumbnail subtotal quantity";
            padding-top: 40px;
        }

        &__product {
            &-thumbnail {
                justify-self: center;
                img {
                    max-height: 100%;
                }
            }

            &-remove {
                position: absolute;
                top: 0;
                right: 0;
            }
            &-name {
                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 400;
            }
        }
    }
}