.footer {
  padding: 4rem 0 1rem;
  background: $primary-color;

  &__logo {
    margin-bottom: 2rem;

    img {
      max-width: calcRem(250px);
    }
  }

  &__text {
    color: $white-color;
    font-weight: 300;
    display: block;
    margin-bottom: 0.5rem;
  }

  &__copyright {
    color: $light-color;
  }

  @include media-breakpoint-up(sm) {
    &__text {
      font-size: 1.2rem;
    }

    &__row {
      display: flex;
      justify-content: space-between;

      &--end {
        align-items: flex-end;
        padding: 1.8rem 0;
      }
    }

    &__links {
      text-align: right;
    }
  }

  @include media-breakpoint-down(sm) {
    text-align: center;

    &__links {
      display: none;
    }

    &__logo {
      img {
        max-width: 75%;
      }
    }
  }
}