.tab {

    &__container {
        &--hidden {
            display: none;
        }
    }

    &__content {
        padding-top: 4rem;
        padding-bottom: 4rem;

        h1, h2, h3, h4, h5, h6 {
            margin-bottom: 1rem;
        }
    }

    @include media-breakpoint-up(sm) {
        &__content {
            padding-left: calcRem(10px);
            padding-right: calcRem(10px);
        }
    }
}