.table {
    &__row {
        background: $light-color;
        width: 100%;
        &:nth-child(2n + 1) {
            background: $white-color;
        }
    }

    &__column {
        flex: 1 1 0;
        padding: calcRem(15px);

        &--accent {
            font-weight: 500;
        }

        * {
           margin: 0;
        }
    }

    &--order-details {
        .table {
            &__row {
                justify-content: space-between;
            }
            &__column {
                flex: initial;
            }
        }
    }

    @include media-breakpoint-up(sm) {
        &__row {
            display: flex;
            align-items: center;
        }
    }

    @include media-breakpoint-down(sm) {
        &__row {
            padding: 1.1rem 0;
        }

        &__column {
            text-align: left;
            padding: 0.3rem calcRem(15px);
        }
    }
}