// -----------------------------------------------------------------------------
// This file contains all button style.
// -----------------------------------------------------------------------------

/**
 ** Material Classes for buttons
 **
 ** 1 // .mdc-button--raised
 ** 2 // .mdc-button--outlined
 ** 3 // .mdc-button--unelevated
 ** 4 // .mdc-button--dense
 ** 5 // .mdc-button__icon
 ** 6 // .mdc-button__label
 */

a.mdc-button {
    @include on-event() {
        text-decoration: none;
    }
}

.mdc-button {
    font-size: calcRem(13px);
    height: $button-height;
    border-radius: 0;
    letter-spacing: calcRem(3px);

    &--outlined {
        &.mdc-button {
            &--secondary {
                @include mdc-button-outline-color($secondary-color);
            }
        }
    }

    &--raised {
        &.mdc-button {
            &--secondary {
                @include mdc-button-filled-accessible($secondary-color);
            }
            &--on-primary {
                @include mdc-button-filled-accessible($white-color);
                color: $primary-color;
            }
        }
    }

    &--full {
        width: 100%;
    }

    @include media-breakpoint-up(sm) {
        min-width: calcRem(230px);
    }

    @include media-breakpoint-down(sm) {
        width: 100%;
    }
}

.icon-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0);
    border: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border-radius: 50%;
    transition: all 150ms ease-in;
    text-decoration: none!important;
    cursor: pointer;

    &--on-dark {
        color: $white-color;
    }

    span {
        font-size: 2rem;
    }

    &:hover, &:focus {
        background: rgba(0, 0, 0, 0.1);
    }
}