.mdc-snackbar {
    &.mdc-snackbar {
        &--error {
            .mdc-snackbar {
                &__surface {
                    background: $warn-color;
                }
            }
        }

        &--success {
            .mdc-snackbar {
                &__surface {
                    background: $success-color;
                }
            }
        }
    }
}

.MuiSnackbar-root  {
    &[color='error'] {
        .MuiSnackbarContent-root {
            background: $warn-color;
        }
    }
}